# Credit Card Fraud Detection::

Download dataset from this link:

https://www.kaggle.com/mlg-ulb/creditcardfraud

# Description about dataset::

The datasets contains transactions made by credit cards in September 2013 by european cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. 


### Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

# WORKFLOW :

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Standardized the Input Variables. 

4.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

5.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

6.Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)

7.Train the Model with Epochs (100).

8.If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .

9.Prediction should be > 92%

10.Evaluation Step

11.Prediction

## Identify fraudulent credit card transactions.

# Task

## 1.Loading Data

In [ ]:
# mount google drive in to your Colab enviornment
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import files
uploaded = files.upload()

## 2.Importing Libraries

In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras import models
from keras import layers
from keras import regularizers

## 3.Check Missing Values 

(If Exist ; Fill each record with mean of its feature )

In [ ]:
credit_data = pd.read_csv('./creditcard.csv')
credit_data.head(5)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
credit_data.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [ ]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB


## 4.Standardized the Input Variables.

In [ ]:
credit_data['Class']=credit_data['Class'].astype('float64') #converting the only int type column to float
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  float64
dtypes: float64(31)
memory usage: 67.4 MB

In [ ]:
fraud=credit_data[credit_data['Class']==1] #selecting all the rows that have Class equals to 1 from Dataset

In [ ]:
non_fraud=credit_data[credit_data['Class']==0]

In [ ]:
fraud.shape, non_fraud.shape

((492, 31), (284315, 31))

In [ ]:
non_fraud=non_fraud.sample(3*fraud.shape[0])
data = fraud.append(non_fraud, ignore_index=True)

In [ ]:
fraud.shape, non_fraud.shape

((492, 31), (1476, 31))

## 5.Splitting Data

In [ ]:
train_data = credit_data.sample(frac= 0.7, random_state=125)
test_data =  credit_data.drop(train_data.index)

In [ ]:
train_labels = train_data.iloc[:,-1]
train_data = train_data.iloc[:,0:-1]
test_labels = test_data.iloc[:,-1]
test_data = test_data.iloc[:,0:-1]

In [ ]:
train_mean = train_data.mean(axis=0) # taking the mean of 
train_data -= train_mean
train_std = train_data.std(axis=0)
train_data /= train_std
test_data -= train_mean
test_data /= train_std

In [ ]:
train_data.describe()

               Time            V1  ...           V28        Amount
count  1.993650e+05  1.993650e+05  ...  1.993650e+05  1.993650e+05
mean  -3.925890e-17  1.192975e-17  ...  8.301653e-17 -2.569235e-14
std    1.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
min   -1.996238e+00 -2.881577e+01  ... -3.556585e+01 -3.533628e-01
25%   -8.565564e-01 -4.702602e-01  ... -1.603271e-01 -3.307569e-01
50%   -2.130830e-01  8.723818e-03  ...  3.535937e-02 -2.656501e-01
75%    9.369135e-01  6.723102e-01  ...  2.392303e-01 -4.509229e-02
max    1.640926e+00  1.253980e+00  ...  1.027995e+02  7.801613e+01

[8 rows x 30 columns]

In [ ]:
train_data = train_data.to_numpy()
train_labels = train_labels.to_numpy().astype('float64')

test_data = test_data.to_numpy()
test_labels = test_labels.to_numpy().astype('float64')

## 6.Modelling

In [ ]:
model = models.Sequential()
model.add(layers.Dense(20, activation='relu',kernel_regularizer=regularizers.l2(0.001), input_shape=(train_data.shape[1],)))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(10, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(8, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(6, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(1, activation='sigmoid'))

## 7.Compilation Step 
(Note : Its a Binary problem , select loss , metrics according to it)

In [ ]:
model.compile(loss= 'binary_crossentropy', optimizer= 'rmsprop', metrics=['accuracy'])

## 8.Train the Model with 50 Epochs to avoid overfitting

In [ ]:
history = model.fit(train_data, train_labels, epochs=50,validation_split = 0.3)

Epoch 1/50
4362/4362 [==============================] - 9s 2ms/step - loss: 0.1839 - accuracy: 0.9791 - val_loss: 0.0164 - val_accuracy: 0.9982
Epoch 2/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0196 - accuracy: 0.9983 - val_loss: 0.0197 - val_accuracy: 0.9982
Epoch 3/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0179 - accuracy: 0.9985 - val_loss: 0.0204 - val_accuracy: 0.9982
Epoch 4/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0206 - accuracy: 0.9983 - val_loss: 0.0187 - val_accuracy: 0.9982
Epoch 5/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0177 - accuracy: 0.9984 - val_loss: 0.0176 - val_accuracy: 0.9982
Epoch 6/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0181 - accuracy: 0.9983 - val_loss: 0.0176 - val_accuracy: 0.9982
Epoch 7/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0175 - accuracy: 0.9983 - val_loss: 0.0188 - val_accuracy: 0.9982
Epoch 8/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0202 - accuracy: 0.9981 - val_loss: 0.0183 - val_accuracy: 0.9982
Epoch 9/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0195 - accuracy: 0.9982 - val_loss: 0.0191 - val_accuracy: 0.9982
Epoch 10/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0184 - accuracy: 0.9983 - val_loss: 0.0180 - val_accuracy: 0.9982
Epoch 11/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0185 - accuracy: 0.9982 - val_loss: 0.0177 - val_accuracy: 0.9982
Epoch 12/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0173 - accuracy: 0.9984 - val_loss: 0.0176 - val_accuracy: 0.9982
Epoch 13/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0182 - accuracy: 0.9983 - val_loss: 0.0171 - val_accuracy: 0.9982
Epoch 14/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0169 - accuracy: 0.9984 - val_loss: 0.0179 - val_accuracy: 0.9982
Epoch 15/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0172 - accuracy: 0.9983 - val_loss: 0.0185 - val_accuracy: 0.9982
Epoch 16/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0165 - accuracy: 0.9984 - val_loss: 0.0180 - val_accuracy: 0.9982
Epoch 17/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0168 - accuracy: 0.9984 - val_loss: 0.0184 - val_accuracy: 0.9982
Epoch 18/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0168 - accuracy: 0.9984 - val_loss: 0.0178 - val_accuracy: 0.9982
Epoch 19/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0172 - accuracy: 0.9984 - val_loss: 0.0179 - val_accuracy: 0.9982
Epoch 20/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0169 - accuracy: 0.9984 - val_loss: 0.0182 - val_accuracy: 0.9982
Epoch 21/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0193 - accuracy: 0.9981 - val_loss: 0.0185 - val_accuracy: 0.9982
Epoch 22/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0168 - accuracy: 0.9984 - val_loss: 0.0175 - val_accuracy: 0.9982
Epoch 23/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0162 - accuracy: 0.9985 - val_loss: 0.0177 - val_accuracy: 0.9982
Epoch 24/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0182 - accuracy: 0.9982 - val_loss: 0.0178 - val_accuracy: 0.9982
Epoch 25/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0172 - accuracy: 0.9984 - val_loss: 0.0173 - val_accuracy: 0.9982
Epoch 26/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0161 - accuracy: 0.9984 - val_loss: 0.0179 - val_accuracy: 0.9982
Epoch 27/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0153 - accuracy: 0.9985 - val_loss: 0.0181 - val_accuracy: 0.9982
Epoch 28/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0189 - accuracy: 0.9982 - val_loss: 0.0191 - val_accuracy: 0.9982
Epoch 29/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0181 - accuracy: 0.9983 - val_loss: 0.0183 - val_accuracy: 0.9982
Epoch 30/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0175 - accuracy: 0.9984 - val_loss: 0.0168 - val_accuracy: 0.9982
Epoch 31/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0188 - accuracy: 0.9982 - val_loss: 0.0185 - val_accuracy: 0.9982
Epoch 32/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0178 - accuracy: 0.9983 - val_loss: 0.0177 - val_accuracy: 0.9982
Epoch 33/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0166 - accuracy: 0.9984 - val_loss: 0.0184 - val_accuracy: 0.9982
Epoch 34/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0177 - accuracy: 0.9983 - val_loss: 0.0186 - val_accuracy: 0.9982
Epoch 35/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0178 - accuracy: 0.9983 - val_loss: 0.0183 - val_accuracy: 0.9982
Epoch 36/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0189 - accuracy: 0.9982 - val_loss: 0.0181 - val_accuracy: 0.9982
Epoch 37/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0173 - accuracy: 0.9984 - val_loss: 0.0168 - val_accuracy: 0.9982
Epoch 38/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0188 - accuracy: 0.9982 - val_loss: 0.0176 - val_accuracy: 0.9982
Epoch 39/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0171 - accuracy: 0.9984 - val_loss: 0.0173 - val_accuracy: 0.9982
Epoch 40/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0183 - accuracy: 0.9983 - val_loss: 0.0174 - val_accuracy: 0.9982
Epoch 41/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0185 - accuracy: 0.9982 - val_loss: 0.0179 - val_accuracy: 0.9982
Epoch 42/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0187 - accuracy: 0.9982 - val_loss: 0.0184 - val_accuracy: 0.9982
Epoch 43/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0173 - accuracy: 0.9984 - val_loss: 0.0178 - val_accuracy: 0.9982
Epoch 44/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0170 - accuracy: 0.9984 - val_loss: 0.0180 - val_accuracy: 0.9982
Epoch 45/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0182 - accuracy: 0.9982 - val_loss: 0.0178 - val_accuracy: 0.9982
Epoch 46/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0185 - accuracy: 0.9982 - val_loss: 0.0178 - val_accuracy: 0.9982
Epoch 47/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0176 - accuracy: 0.9983 - val_loss: 0.0188 - val_accuracy: 0.9982
Epoch 48/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0164 - accuracy: 0.9984 - val_loss: 0.0169 - val_accuracy: 0.9982
Epoch 49/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0165 - accuracy: 0.9983 - val_loss: 0.0180 - val_accuracy: 0.9982
Epoch 50/50
4362/4362 [==============================] - 8s 2ms/step - loss: 0.0170 - accuracy: 0.9983 - val_loss: 0.0193 - val_accuracy: 0.9982

In [ ]:
loss, accuracy = model.evaluate(test_data, test_labels)

2671/2671 [==============================] - 3s 1ms/step - loss: 0.0196 - accuracy: 0.9982

In [ ]:
loss

0.019554458558559418

In [ ]:
accuracy

0.9982210397720337

In [ ]:
history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

## 9.Prediction should be > 92%

In [ ]:
predictions = model.predict(test_data)

In [ ]:
y_pred = (predictions > 0.5)

In [ ]:
con = tf.math.confusion_matrix(
    test_labels, y_pred, num_classes=2, weights=None, dtype=tf.dtypes.int32,
    name=None
)

## 10.Evaluation Step

In [ ]:
test_loss_score, test_acc_score=model.evaluate(test_data, test_labels)

2671/2671 [==============================] - 3s 1ms/step - loss: 0.0196 - accuracy: 0.9982

## 11.Prediction

In [ ]:
predictions = model.predict(test_data)
prediction

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint64)

In [ ]:
y_pred = (predictions > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

**<h4 align="right"> AIC Deep Learning Assignment Submitted by : PIAIC101499 </h4>**